<div
  class="relative p-3 flex flex-col gap-4 bg-gray-950 text-white rounded-2xl font-bold w-full z-50"
>
  <ng-content select="[toggle]" />

  <div>
    <p class="my-2">
      Zoom: <span class="text-yellow-400">{{ zoomValue() | number: '0.2-2' }}</span>
    </p>
    <input
      #zoom
      (input)="updateZoomValue(zoom)"
      [value]="zoomValue()"
      type="range"
      min="0"
      step="1"
      max="22"
      class="range"
    />
  </div>

  <div class="bg-base-100 border-base-300 collapse border">
    <input type="checkbox" class="peer" />
    <div
      class="collapse-title bg-black text-primary-content peer-checked:bg-transparent peer-checked:text-secondary-content"
    >
      Coordinates
    </div>
    <div
      class="collapse-content text-primary-content peer-checked:bg-transparent peer-checked:text-secondary-content"
    >
      <app-summary-cord-info [info]="{ label: 'Longitude', value: lng() }" />

      <app-summary-cord-info [info]="{ label: 'Latitude', value: lat() }" />
    </div>
  </div>
</div>
